$happy-color: #FFC107;
$nauture-color: #00C853;
$angry-color: #F44336;
$contempt-color: #7E57C2;
$disgust-color: #795548;
$fear-color: #2196F3;
$sadness-color: #009688;
$surprise-color: #E91E63;

.emotion-badge{
    margin: 10px 0px;
}

.emotion-badge-list{
    width: 50px;
    border: 2px solid #e0e0e0;
    float: left;
    margin-right: 10px;
}

.emotion-icon-block{
    height: 50px;
    padding: 5px;
    background: #FFFFFF;
}

.emotion-count{
    text-align: center;
    color: #FFFFFF;
}

.emotion-badge-list.emotion-neutral{
    background: $nauture-color;
    border-color: $nauture-color;
}

.emotion-badge-list.emotion-angry{
    background: $angry-color;
    border-color: $angry-color;
}

.emotion-badge-list.emotion-contempt{
    background: $contempt-color;
    border-color: $contempt-color;
}

.emotion-badge-list.emotion-disgust{
    background: $disgust-color;
    border-color: $disgust-color;
}

.emotion-badge-list.emotion-fear{
    background: $fear-color;
    border-color: $fear-color;
}

.emotion-badge-list.emotion-happiness{
    background: $happy-color;
    border-color: $happy-color;
}

.emotion-badge-list.emotion-sadness{
    background: $sadness-color;
    border-color: $sadness-color;
}

.emotion-badge-list.emotion-surprise{
    background: $surprise-color;
    border-color: $surprise-color;
}

.emotion-icon{
    display: block;
    height: 100%;
    width: 100%;
}

.emotion-neutral .emotion-icon{
    background: url('/img/emoji/nature.svg') no-repeat;
}

.emotion-angry .emotion-icon{
    background: url('/img/emoji/angry.svg') no-repeat;
}

.emotion-contempt .emotion-icon{
    background: url('/img/emoji/contempt.svg') no-repeat;
}

.emotion-disgust .emotion-icon{
    background: url('/img/emoji/disgust.svg') no-repeat;
}

.emotion-fear .emotion-icon{
    background: url('/img/emoji/fear.svg') no-repeat;
}

.emotion-happiness .emotion-icon{
    background: url('/img/emoji/happiness.svg') no-repeat;
}

.emotion-sadness .emotion-icon{
    background: url('/img/emoji/sadness.svg') no-repeat;
}

.emotion-surprise .emotion-icon{
    background: url('/img/emoji/surprise.svg') no-repeat;
}

.faceborder{
    position: absolute;
    border: 3px solid #3CF;
}

.faceborder.neutral{
    border-color: $nauture-color;
}

.faceborder.angry{
    border-color: $angry-color;
}

.faceborder.contempt{
    border-color: $contempt-color;
}

.faceborder.disgust{
    border-color: $disgust-color;
}

.faceborder.fear{
    border-color: $fear-color;
}

.faceborder.happiness{
    border-color: $happy-color;
}

.faceborder.sadness{
    border-color: $sadness-color;
}

.faceborder.surprise{
    border-color: $surprise-color;
}

